.header {
    /* margin-bottom: 80px; */
}
.navbar{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.btn{
    background-color: brown;
}

.dropdown :hover {
    background-color: aquamarine;
}

.left-container {
    outline: 5px red;
}
.right-container {
    outline: 5px red;
}

.row {
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    border-color: black;
    outline: 5px red;
}
.container {
    border-color: black;
}

.gallery {

}

.value-img {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px 12px 12px;
  object-fit: contain;
  inset: 0;
  -webkit-box-shadow: 0 16px 32px rgba(89, 22, 106, 0.25);
          box-shadow: 0 16px 32px rgba(89, 22, 106, 0.25);
}

.product-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    margin: 0;
    padding: 0;
    border-radius: 30;
}

.product-frame {
    position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
    border-radius: 30px;
    inset: 0;
    -webkit-box-shadow: 0 16px 32px rgba(89, 22, 106, 0.25);
            box-shadow: 0 16px 32px rgba(89, 22, 106, 0.25);
}

.table-header{
    font-weight: bold;
    background-color: coral;
}